<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form action='/process' method='post'>
    <label for='name'>Your Name:</label>
    <input type='text' name='name'>
    <label for="location">Dojo Location:</label>
    <select name="location">
        <option value="San Jose">San Jose</option>
        <option value="Tampa">Tampa</option>
    </select>
    <label for="language">Favorite Language:</label>
    <select name="language">
        <option value="python">Python</option>
        <option value="java">Java</option>
    </select>
    <label for='comment'>Comments (optional):</label>
    <textarea name="comment" cols="30" rows="10"></textarea>
    <input type='submit' value='button'>
</form>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}


</body>
</html>