<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <a href="/dashboard"><input type="button" value="Dashboard"></a>
    <a href="/logout"><input type="button" value="Logout"></a>

    <h3>{{the_car.price}}</h3>

    Model:<p>{{the_car.model}}</p><br>
    Make:<p>{{the_car.make}}</p><br>
    Year:<p>{{the_car.year}}</p><br>
    Description:<p>{{the_car.description}}</p><br>
    
    Seller: <p>{{the_car.user.first_name}} {{the_car.user.last_name}}</p>

    <a href="/delete/{{the_car.id}}"><input type="button" value="Purchase"></a>
</body>
</html>