<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
</head>
<body>
    <h1>Add New Recipe</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a><br>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/recipes" method="post">
        Name: 
        <input type="text" name="name"><br>
        Description:
        <input type="text" name="description"><br>
        Instructions:
        <input type="text" name="instructions"><br>
        Date Made On:
        <input type="date" name="made_on"><br>
        Under 30 Minutes?
        Yes:<input type="radio" name="minutes" value="Yes">
        No:<input type="radio" name="minutes" value="No"><br>
        <input type="submit" value="Create">
    </form>

</body>
</html>